<section id="plans" class="plans plans-section section-padding">
  <div class="row">
    <div class="small-12 columns">

      <div class="text-center">
        <h2 class='section-title'>Unlock The Ayurveda Journey<br><small><a href="#"  data-reveal-id="plansModal">See Product Details.</a></small></h2>
      </div>

      <div class="pricing-container">
        <ul class="row">

          <li class="list-entry large-4 large-uncentered medium-8 small-12 small-centered columns">
            <ul class="pricing-table">
              <li class="price">{{ plan1['title'] }}</li>
              <li class="bullet-item"><b>{{ plan1['price'] }}</b></li>
              <li class="description">{{ plan1['subs_type'] }} </li>
              <li class="bullet-item">{{ plan1['whats_in_1'] }}</li>
              <li class="bullet-item">{{ plan1['whats_in_2'] }}</li>
              <li class="cta-button "><a class="button" href={{ plan1['payments_url'] }}>Ask Now</a></li>
            </ul>
            <span class='billing-comment'></span>
          </li>

          <li class="list-entry large-4 large-uncentered medium-8 small-12 small-centered columns">
            <ul class="pricing-table popular">
              <li class="title">Most Popular!</li>
              <li class="price">{{ plan2['title'] }}</li>
              <li class="bullet-item"><b>{{ plan2['price'] }}</b><small class='star'>*</small> </li>
              <li class="description">{{ plan2['subs_type'] }} </li>
              <li class="bullet-item">{{ plan2['whats_in_1'] }}</li>
              <li class="bullet-item">{{ plan2['whats_in_2'] }}</li>
              <li class="cta-button"><a class="button" href={{ plan2['payments_url'] }}>Get Yearly</a></li>
            </ul>
            <span class='billing-comment'>30 days money back guarantee. Recurring billing</span>
          </li>

          <li class="list-entry large-4 large-uncentered medium-8 small-12 small-centered columns">
            <ul class="pricing-table">
              <li class="price">{{ plan3['title'] }}</li>
              <li class="bullet-item"><b>{{ plan3['price'] }}</b></li>
              <li class="description">{{ plan3['subs_type'] }} </li>
              <li class="bullet-item">{{ plan3['whats_in_1']|safe }}</li>
              <li class="bullet-item">{{ plan3['whats_in_2']|safe }}</li>
              <li class="cta-button "><a class="button" href={{ plan3['payments_url'] }}>Get Yearly</a></li>
            </ul>
            <span class='billing-comment'>30 days money back guarantee. Recurring billing.<br>Available for Germany only.</span>
          </li>

        </ul>
        <span class='billing-comment' style='text-align:left !important;'><a href="#" data-reveal-id="billingModal">* Billed as one payment</a></span>
      </div>
    </div>
  </div>
</section>


<div id="plansModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Plans</h2>
    <p class="lead">Ayurveda Life</p>
      <p style='text-align:justify;'>1- Unlimited Consultations (Anytime, anyplace, anywhere) - 
You can chat with your doctor whenever you feel like and get all your questions answered till you are completely satisfied.</p>
            <p style='text-align:justify;'>2- Active Followups-
Your doctor will have an active follow-up with you and regular suggestions for everyday Ayurveda so that you stay fit and happy.</p>
                  <p style='text-align:justify;'>3- Meditation and Yoga guidance-
We will also guide you with Meditation + Yoga to help you find and follow a practice that suits you the best.
   </p>
    <p class="lead">Ayurveda Awesome</p>
      <p style='text-align:justify;'>1- Unlimited Consultations (Anytime, anyplace, anywhere) - 
You can chat with your doctor whenever you feel like and get all your questions answered till you are completely satisfied.</p>
       <p style='text-align:justify;'>2- Active Followups-
Your doctor will have an active follow-up with you and regular suggestions for everyday Ayurveda so that you stay fit and happy.
</p>
        <p style='text-align:justify;'>3- Meditation and Yoga guidance-
We will also guide you with Meditation + Yoga to help you find and follow a practice that suits you the best.</p>
         <p style='text-align:justify;'>4- Monthly wellness basket-
We will send you monthly a wellness basket, with massage oils, spices, teas etc.. customised for season and your health.</p>
          <p style='text-align:justify;'>5- Wellness in Kitchen-
Delicious recipes to complete the circle of health and happiness in your life. </p>
              <p class="lead">
Note: Consultations, followups and sending of regular podcasts, illustration, videos will be done over ioveda app.  /p>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="billingModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Billing Details</h2>
  <p style='text-align:justify;'>To ensure uninterrupted service, all ioveda subscriptions are renewed automatically, using the credit card on file. Annual Ayurveda LIfe and Ayurveda Awesome subscriptions are billed in one payment at the time of purchase, and automatically renew at the end of the initial term, at the rate secured at the time of purchase.  Annual Ayurveda LIfe and Ayurveda Awesome subscription are backed by our 30-day 100% money back guarantee. ioveda does not offer refunds on the ‘Ask a Question’.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
