  <section id="ayurveda" class="ayurveda section-padding">
     <div class="background-container">
     </div>
        <div class="row">
             <div class="text-center">
                    <h2 class='section-title'>How Can Ayurveda Help You?</h2>
             </div>   
              <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
              <p>
             Ayurveda is a rich, holistic and nature based medical system. It takes a whole person into consideration and treats, 'Mind and Body' as inherently 'integrative' system.
              </p> 
            </div>
            </div>
           <div class="row">
            <div class="large-3 medium-3 small-12 columns">
                <ul class='ayurveda-options'>
                  <li id="chronic">Chronic Conditions</li>
                  <li id="preventive" class='faded-color'>Preventive Care</li>
                  <li id="pregnancy" >Pregnancy Care</li>
                  <li id="stress" class='faded-color'>Stress & Anxiety</li>
                  <li id="skin">Skin, Hair and Weight</li>
                </ul>  
            </div>
          </div>

           <div class="row ">
            <div class="large-5 medium-5 small-12 collapse columns" >

              <p id='chronic-p'  hidden>
                  Research has found that expertly practiced Ayurveda yields reliable, efficacious results when applied to all manners of chronic diseases.        
              </p> 
              <p id='preventive-p' hidden>
               Ayurveda practitioners provide personalised treatment depending on individual's biological constitution, which are claimed to be extremely effective.
               And new scientific theories have proved that Ayurveda defined constitutional types (Prakriti) correlate to the whole genome expressions.
              </p> 
              <p id='pregnancy-p' hidden>
              Pregnancy is a wonderful experience. Ayurveda provides month wise guide to promote healthy growth of the baby and make pregnancy
              stress-free and rejuvenating for the mother.
              </p>
              <p id='stress-p' hidden>
             Stress medication, sleeping pills are proven to have long term ill effects on the health. 
             Ayurveda offers a natural cure to stress and anxiety permanently.
              </p>  
              <p id='skin-p' hidden>
               According to researchers, most of the skin, hair, and weight related problems are connected to hormonal imbalance in the body. 
               Ayurveda treatment brings your body in balance thus curing all prevailing conditions or preventing them altogether from happening.
              </p>
            </div>
    
          </div>

           <div class="row">
              <a class="button learn-more"  href="emrform">Learn more</a>
          </div>
    </section>
  
    
