<section class="header-container">
    <div class="row">
        <div class="small-12 columns">
            <header>
                <a href="index"><img  src="../static/img/logo.png" alt="Ioveda" /></a>
                <label class="collapse-nav" for="collapse-nav"><i class="fa fa-2x fa-bars"></i></label>
                <input type="checkbox" id="collapse-nav">

                <nav class="main-navigation">
                    <ul>
                        <li>
                            <a><i class="icon-search"></i></a>
                        </li>
                        <li>
                            <input placeholder="Search" type="text" class="search-input">
                        </li>

                        {% if current_user.is_authenticated() %}
                        <li >
                            <a href="profile" id='signup' class="text-orange">{{ current_user.username }}</a>
                        </li>
                        <li >
                            <a href="logout" id="logout" class="text-orange">Logout</a>
                        </li>
                        {% else %}

                        <li >
                            <a href="signup" id='signup' class="text-orange">Sign up</a>
                        </li>

                        {% endif %}
                        <li>
                            <a href="#" class="text-orange"><strong>IoVeda.com</strong></a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</section>
<!-- need to make up for the extra space that fixed to top navigation bar takes -->
<div class="after-header-spacer"></div>