<section id="faq" class="faq section-padding">
    <div class="text-center">
        <h2 class='section-title'>Frequently Asked Questions</h2>
    </div>

    <div class="row">
        <div class="small-12 medium-10 medium-centered large-9 large-uncentered columns question-container">
            <ul class="text-grey faq-list-container">
                <li>
                    <div class="faq-question">
                        <p>What is ioveda?</p>
                    </div>
                    <div class="faq-answer">
                        <p>We are a group of people who believe in natural healing. We understand that there are many like us who are interested in leading a happier and healthier life with holistic medical system. With ioveda platform we provide access to Ayurveda treatments from certified Ayurveda practitioners. We also guide you to find the Meditation and Yoga practices that will suit you the best.</p>
                    </div>
                </li>

                <li>
                    <div class="faq-question">
                        <p>What conditions do we treat?</p>
                    </div>
                    <div class="faq-answer" >
                        <p>Ayurveda is effective in most of the common, chronic and lifestyle related disorders. Our practitioners have successfully treated:</p>
                        <ul class="deep-list">
                            <li>Acidity</li>
                            <li>Anemia</li>
                            <li>Arthritis</li>
                            <li>Conjunctivitis</li>
                            <li>Constipation</li>
                            <li>Diabetes</li>
                            <li>Hairfall dandruff</li>
                            <li>Headache</li>
                            <li>Hemorrhoids and anal fissure</li>
                            <li>Hyperlipidemia</li>
                            <li>Hypertension</li>
                            <li>Indigestion</li>
                            <li>Insomnia</li>
                            <li>Kidney stones</li>
                            <li>Vaginal discharge</li>
                            <li>Menopausal management</li>
                            <li>Obesity</li>
                            <li>Oligospermia</li>
                            <li>Rheumatoid arthritis</li>
                            <li>Rhinitis</li>
                            <li>Skin problems</li>
                            <li>Stress</li>
                            <li>Urticaria</li>
                            <li>Weight gain</li>
                            <li>And many others</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="faq-question">
                        <p>What about preventive care?</p>
                    </div>
                    <div class="faq-answer">
                        <p>Ayurveda is well known for preventive and personalised care. Your Ayurveda practitioners also consults on:</p>
                        <ul class="deep-list">
                            <li>Preventive cardiology</li>
                            <li>Preventive diabetology</li>
                            <li>Pregnancy care</li>
                            <li>Home remedies for common conditions e.g. cold, cough, fever etc.</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="faq-question">
                        <p>How long will it take for you to see the results?</p>
                    </div>
                    <div class="faq-answer">
                        <p>Ayurveda works on the principle of balancing constitutions of your body and harmonising your health. Un-doing all the negative effects and nourishing you back to good health might take some time. It depends a lot on individuals and their conditions, too. Some of our users get immediate results while others take a bit longer. Ideally it takes around 3 to 6 months to see substantial changes with long standing chronic conditions.</p>
                    </div>
                </li>

                <li>
                    <div class="faq-question">
                        <p>What is 30 days money back guarantee?</p>
                    </div>
                    <div class="faq-answer">
                        <p>If for some reason you don't wish to continue, we will refund your fees. No questions asked. Just inform us within 30 days of subscribtion.<br />
                        You can contact by:<br />
                        <b>email:</b> support@ioveda.net<br />
                        <b>phone:</b> +49 1575 1796 119<br />
                        <b>office address:</b> Ohmstr. 9, D-10179, Berlin.</p>
                    </div>
                </li>
            </ul>

        </div>

        <div class="show-for-large-up large-3 columns">
            <img src="../static/img/faq-icon.png" />
        </div>
    </div>

</section>