    <footer class="footer">
      <ul class="social-networks social-circle">
            <li><a href="https://www.facebook.com/ioveda" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/u/0/106222164545491193778/posts" class="icoGoogle" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="" class="icoGoogle" title="Google +" target="_blank"><i class="fa fa-youtube"></i></a></li>

      </ul> 


      <ul >
          <li><a href="terms_and_conditions">{{ _("terms and conditions")}}</a></li>
          <li><a href="blog">{{_("ioveda blog") }} </a></li>
          <li><a href="">{{ _("contact: support@ioveda.net") }}</a></li>
      </ul>

    </footer>