<section class="header-container">
    <div class="row">
        <div class="small-12 columns">
            <header class="navigation-header">
                <a href="index"><img  src="../static/img/logo.png" alt="Ioveda" /></a>
                <label class="collapse-nav" for="collapse-nav"><i class="fa fa-2x fa-bars"></i></label>
                <input type="checkbox" id="collapse-nav">

                <nav class="main-navigation">
                    <ul>
                        <li>
                            <a href="index#how"> {{ _('How It Works') }} </a>
                        </li>
                        <li>
                            <a href="index#ayurveda">The Ayurveda</a>
                        </li>
                        <li>
                            <a href="index#plans">{{_('Plans') }}</a>
                        </li>
                        <li>
                            <a href="index#faq">FAQ</a>
                        </li>
                        <li>
                            <a href="blog">Blog</a>
                        </li>

                        {% if current_user.is_authenticated() %}
                        <li >
                            <a href="profile" id="signup" class="text-orange">{{ current_user.username }}</a>
                        </li>
                        <li >
                            <a href="logout" id="logout" class="text-orange">Logout</a>
                        <li>

                        {% else %}
                        <li >
                            <a href="login" id='signup' class="text-orange">Login</a>
                        </li>

                        {% endif %}
                        <li class="social">
                            <a href="login2"><i class="fa fa-facebook-official"></i></a>
                        </li>
                        <li class="social">
                            <a href="googlelogin"><i class="fa fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</section>
<!-- need to make up for the extra space that fixed to top navigation bar takes -->
<div class="after-header-spacer"></div>