            <div class="text-center">
                    <span class='date'>{{date}}</span>
                    <p></p>
                </div>
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <div class='question'>


    {%if g.user_status['valid_subscription'] and g.user_status['emr'] %}

              <p>Thank you for subscribing! Your Ayurveda Doctor will respond soon.</p>

    {%elif g.user_status['valid_subscription'] and not g.user_status['emr'] %}

                <p>Thank you for subscribing. Lets start with filling out your health profile.<br>
                <b><a href=http://ioveda.net/emrform> filling out the user information form</a></b></p>
    {%else%}
                <p>Thank you for registering.<br>
                Lets start by selecting one of the ioveda plans.<b><a href=/plans> Choose your plan</a></b><br>
                Be strong and sparkle on.<p>
    {% endif %}

            </div>
            <div class="large-6 medium-6 small-6 columns">
            </div>


<br>
<br>
{%if g.user_status['valid_subscription'] and g.user_status['emr'] %}

               <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <div class='question'>
              <img src="../static/img/faq-icon.png" class='question-icon'><a class="button" href="profile">Ask a new question !</a>
            </div>
            <div class="large-6 medium-6 small-6 columns">
            </div>
        </div>
        </div>
 {%endif%}
  </div>
        </div>
