<section id="how" class="how-container section-padding">
  <div class="row">
    <div class="small-12 columns">

      <div class="text-center">
        <h2 class='section-title'>How It Works</h2>
      </div>

        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3 block-grid">
          <li class="block-element">
            <div class='tick-animation image-placeholder'>
            </div>

            <div class="text-center">
              <h3 class='section-title'>Fill up your health information profile.</h3>
            </div>

            <p class='column-text-gray narrow-text'>
              Ayurveda is holistic. This means it is important for your doctor to have a complete understanding of your. This will aid the doctor in designing an effective treatment for you.
            </p>
          </li>

          <li class="block-element">
            <div class='card-animation image-placeholder'> </div>
            <div class="text-center">
              <h3 class='section-title'>Pay your Ayurveda Doctor's fee.</h3>
            </div>
            <p class='column-text-gray narrow-text'>At 15.84 euros per month. It's less than the price of two Pizzas! We will charge you only if you feel content and happy to continue. You will have a month to try and ask for refund.
            </p>
          </li>

          <li class="block-element">
            <div class='harmony-animation image-placeholder'> </div>
            <div class="text-center">
              <h3 class='section-title'><a href="payments">Start</a> your journey to health & happiness.</h3>
            </div>
            <p class='column-text-gray narrow-text'> Ayurveda is especially effective for preventive care and chronic conditions. To keep you fit and happy, we will guide you with meditation, yoga and easy but effective home remedies.
            </p>
          </li>

        </ul>

    </div>
  </div>
</section>