<section class="mountains-container">
	<div class="row">

		{% if current_user.is_authenticated() %}
		<div class="small-12 medium-8 large-5 columns">
			<h1 class="heading-text">{{ _('Start your journey towards health and happiness.') }}</h1>
		</div>

		<form class="small-12 medium-7 large-4 columns extra-spacing">
			<a href="emrform" class="button expand next-button">Start</a>
		</form>

		{% else %}
		<div class="text-center form-container large-4 medium-8 medium-centered large-uncentered small-12 columns">

			<h2 class="text-light-grey sign-up-title">{{ _('Sign up') }}</h2>


			<form>
				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered large-centered columns">
						<input class='username-field input-field' id='name' type="text" placeholder="Name" />
					</div>
				</div>
				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered columns">
						<input class='email-field input-field' id='email' type="text" placeholder="Email" />
					</div>
				</div>
				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered columns">
						<input class='password-field input-field' id='password' type="password" placeholder="Password" />
					</div>
				</div>

				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered columns">
						<input class='password-field input-field' id='password2' type="password" placeholder="Confirm Password" />
					</div>
				</div>

				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered  columns">
						<a  id='signup-button' class="button expand next-button">{{_('Sign me up!') }}</a>
					</div>
				</div>

				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered centered columns">
						<div class="text-center">
							<p class="alternative-sign-in">Or<br/></p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="large-10 medium-10 medium-centered small-11 small-centered large-centered medium-centered columns">
						<div class="row">
							<div class="small-6 columns">
								<a  href='login2' class="button tiny social-button"><i class="fa fa-2x fa-facebook"></i></a>
							</div>
							<div class="small-6 columns">
								<a  href='googlelogin' class="button tiny social-button"><i class="fa fa-2x fa-google-plus"></i></a>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>

		<div class="heading-text medium-12 large-7 hide-for-small-only hide-for-medium-only columns">
			<h1>Get your personalized<br>Ayurveda consultations!</h1>
		</div>
		{% endif %}

	</div>
</section>