<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/vendor/modernizr.js"></script>
<script src="../static/js/foundation/foundation.js"></script>
<script src="../static/js/foundation/foundation.tab.js"></script>
<script src="../static/js/foundation/foundation.orbit.js"></script>
<script src="../static/js/foundation/foundation.reveal.js"></script>

<!-- Stripe dependency -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!-- Our scripts -->
<script src="../static/js/stripe_validation.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/loading_button.js"></script>
<script src="../static/js/signin.js"></script>
<script src="../static/js/subscribe.js"></script>
<script src="../static/js/userpanel.js"></script>
<script src="../static/js/faq.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-62942043-1', 'auto');
    ga('send', 'pageview');
</script>