<!-- For now link to every stylesheet, when deploying just put everything into one big file to reduce connection requests -->
<link rel="stylesheet" href="../static/css/foundation.min.css" />
<link rel="stylesheet" href="../static/foundation-icons/foundation-icons.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- our own css's -->
<link rel="stylesheet" href="../static/css/custom.css" />
<link rel="stylesheet" href="../static/css/header.css" />
<link rel="stylesheet" href="../static/css/blog_page.css" />
<link rel="stylesheet" href="../static/css/payments.css" />
<link rel="stylesheet" href="../static/css/signin.css" />
<link rel="stylesheet" href="../static/css/subscribe.css" />
<link rel="stylesheet" href="../static/css/userpanel.css" />
<link rel="stylesheet" href="../static/css/index_mountains.css" />
<link rel="stylesheet" href="../static/css/how_it_works.css" />
<link rel="stylesheet" href="../static/css/ayurveda.css" />
<link rel="stylesheet" href="../static/css/ayurveda_plans.css" />
<link rel="stylesheet" href="../static/css/faq.css" />