.ayurveda {
  background-color: #4cb6ac;
  position: relative;
      height: 650px;

}
.ayurveda:after {
  position: absolute;
  top: 100%;
  left: 48%;
  content: '';
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 30px #4cb6ac;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}
.ayurveda h2 {
  color: white;
}
.ayurveda .ayurveda-options {
  list-style: square;
  margin-top: 20px;
}
.ayurveda .ayurveda-options li {
  cursor: pointer;
  color : white;
  font-size: 20px;
  margin: 10px 0;
}
.ayurveda .ayurveda-options .faded-color {
  color: #CFF0DF;
}
.ayurveda h5 {
  color: white;
  margin-top: 50px ;
  margin-left: 0px;
  text-align: justify;
}
.ayurveda .learn-more {
  margin-right: 13px;
}
.ayurveda .button {
  margin: 20px 0 0;
}
.ayurveda .bottom-margin {
  margin-bottom: 30px;
}

@media only screen and ( min-width: 1024px) {
  .background-container {
    z-index: 0;
    position: absolute;
    top: 0;
    right: -100px;
    width: 100%;
    height: 750px;
    background: url(../img/hand.png) no-repeat;
    background-position: right bottom;
    background-size: 80%;
  }
  .button-parent {
    text-align: right;
  }
  .ayurveda .button {
    margin-top: 50px;
  }
}

@media only screen and ( min-width: 1280px ) {
  .background-container {
    right: -60px;
    background-size: 50%;
  }
  .ayurveda .button {
    margin: 0px 0 0 27px;
  }
}

@media only screen and ( min-width: 1366px ) {
  .background-container {
    right: 0;
    background-size: 57%;
  }
}

@media only screen and ( min-width: 1920px ) {
  .background-container {
    right: 250px;
    background-size: 45%;
  }
}