.plans-section {
  background-color: #AADDDE;
  position: relative;
}
.plans-section::after {
  position: absolute;
  top: 100%;
  left: 48%;
  content: '';
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 30px #AADDDE;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}
.billing-comment{
  text-align: center;
  font-size: 12px;
  display: block;
}
.plans .title {
  position: relative !important;
  background-color: #4cb6ac ;
  color: white ;
  width: 250px ;
  margin: 0 auto ;
  border-color : white;
  border-radius: 5px;
}
.plans .popular {
  margin-top: -46px ;
}
.plans .title::after,.plans .title::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 0%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 10px #4cb6ac;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.plans .price {
  color: #929094 ;
  font-size: 25px;
  border-top: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.plans .cta-button {
  border-bottom: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.pricing-container .list-entry:first-child {
  margin-bottom: 87px;
}
.pricing-container .list-entry {
  margin-bottom: 50px;
}
.pricing-table {
  border: none;
}

@media (min-width: 40.063em) {
  .section-title small {
    font-size: 40%;
  }
}

@media (min-width: 64.063em) {
  .pricing-container {
    margin-top: 70px;
  }
  .pricing-container .list-entry:first-child {
    margin-bottom: 50px;
  }
}

.reveal-modal{
  border-radius: 10px !important;
}
.lead {
  color: #f99778 ;
}