#blog-main {
  background-color: #c7e8e6;
}
.blog-container article h5, .aside-column h6 {
  display: inline-block;
}
.blog-container article header h5:first-of-type,
.aside-column h6:first-of-type {
  margin-right: 10px;
}
.blog-article {
  padding: 40px 0;
}

.img-container {
  margin-bottom: 30px;
  /*background: url('../img/sunshine-photo.jpg');*/
  background-color: #c7e8e6;
}
.blog-article ul li{
  display: inline;
}
.article-comments h5 span {
  color: orange;
  font-style: italic;
}
.aside-column .thumb-container {
  background: url("../img/map.png");
  height: 150px;
  margin-bottom: 15px;
}
.aside-column h6 span {
  color: orange;
  font-weight: 700;
}
.aside-column .link-container {
  margin-bottom: 30px;
}
.comment-body {
  background-color: white;
  border-radius: 4px;
  margin: 15px 0;
  padding: 25px 10px;
}
.comment-body img {
  max-width: 50px;
  float: left;
  margin-right: 15px;
  margin-bottom: 6px;
}
.top-bar-section #nav li i{
  font-size: 24px;
}
.article-header h5 {
  font-size: 12px;
}
.article-header h3 {
  margin-bottom: 10px;
}
.blog-container article header h5:first-of-type {
  font-style: italic;
}
.article-body {
  padding: 20px 0;
}
.article-body p {
  font-size: 18px;
  color: #989898;
  margin: 0;
}
.social-buttons {
  padding-left: 0;
}
.social-buttons ul {
  margin: 0;
}
.social-buttons .button {
  background-color: white;
  border-bottom: 5px solid #ccc;
  padding: 10px 35px;
  min-width: 40px;
}
.comment-avatar {
  float: left;
}
