/*general classes*/
.text-orange {
  color: #f99778;
}
.text-grey {
  color: #808080 !important;
}
.text-light-grey {
  color: #b3b3b3;
}
.sign-up-title{

  font-size: 20px !important ;
  padding-top: 10px !important;

}
.after-header-spacer {
  height: 60px;
  width: 100%;
  display: block;
}
.active{
    text-decoration: underline;
    font-weight: bold !important;
}
.slider * {

    text-decoration: none !important ;
}
.slider h3 {
    padding: 5px ;
    font-size: 20px;
}
ul, ol, dl {
    list-style: none;
}

.th{
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 150px;
}

.jumbo{

    background-image: url(../img/main-bg.png), url(../img/man.png), url(../img/harmony-icon-2a.png), url(../img/cloud2.png), url(../img/cloud1.png), url(../img/cloud3.png);
    height: 651px ;
    padding: 130px ;
    margin-bottom: 30px;
    background-position: 0px 0px, 745px 263px, 745px 263px, 77px 113px, 77px 583px, 1082px 302px;
    background-repeat: no-repeat,no-repeat;
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover,none;
    /*Background animation*/


}

.heading-text h1 {
  font-size: 32px;
  line-height: 35px;
  color: white !important;
  padding-left: 0px;
  padding-top: 65px;
  font-family: helvetica;
}

.jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 4em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


#main{
      background-color: #c7e8e6 ;
      background-image: url(../img/main-bg.png), url(../img/man.png), url(../img/harmony-icon-2.png), url(../img/clouds2.png), url(../img/cloud1.png), url(../img/cloud3.png);
      background-repeat: no-repeat;
      background-position:20px -90px, 991px 448px, 839px 417px, 77px 113px, 77px 600px, 1082px 180px;
      background-size: cover,none;
      height : 840px;
      -webkit-animation :animatedBg 18s linear infinite;
      -webkit-animation-direction: alternate;
      animation: animatedBg 18s linear infinite;
      animation-direction: alternate;
}

#highlights{

      background-image:url(../img/back1.png);
      background-repeat: no-repeat;
      background-size: cover;
}



#highlights h2 {

    color : white !important;
}
#doctor{
        background-image:url(../img/back4.png);
    background-repeat: no-repeat;
      background-size: cover;


}
#doctor::after {
  position: relative;
  top: 67px;
  left: 48%;
  margin-left: 0%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 30px #b4b2b4;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

#doctor h2{
  color : #808080; !important;
}

#doctor ul{
 list-style: disc;
 margin-top: 20px ;

}

#doctor ul li{
  color : white !important;
  font-size: 20px ;
  margin-top: 10px ;
}
.f-topbar-fixed{
    padding-top: 0 !important;
}
.social a{
    padding: 0 5px !important;
    font-size: 1.5em !important;
}

.fa-facebook {
  color: #3b5998;
}
.fa-google-plus {
  color: #dd4b39;
}

.button{
  background-color: #f99778;
  border-color: #f99778;
  border-bottom: 5px solid #e57565;
  border-radius: 5px;
}
.gray-button{
      background-color: #B6B6B6;
          border-color: #f8f8f8;


}
.start-button{

  width: 75px !important;
  height: 75px !important;
  border-radius: 50% 50% !important;
  line-height: 41px;
  padding: 17px;
  font-weight: bold;
  box-shadow: none;


}
a.button:focus{
    background-color: #f99778;
    border-color: #f99778;

}
a.start-button:visited{
    background-color: #f99778;
    border-color: #f99778;

}
a.start-button:focus{
    background-color: #f99778;
    border-color: #f99778;

}
button:hover, .button:hover{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  background-color: #f99778;
  border-color: #f99778 !important;



}
h1, h2, h3, h5, h6, a {
    color: #808080 ;
}
a:hover{
    text-decoration: none ;
    color: #4cb6ac;
}



@media only screen and (max-width: 800px) {
    .jumbo{
    margin-bottom: 0;
    padding: 90px 0 0px;

}
    .jumbo h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
}


.column-text{

    color: white ;
    text-align : center;
    font-size: 18px ;

}

.column-text-gray {
  color: #808080 ;
  text-align : justify;
}

.section-title {
  margin: 10px 0 20px;
}


.image-placeholder {
width : 160px ;
height: 180px ;
margin : 0 auto ;
/*background-color: #f99778 ;
*//*border-radius: 50% 50% ;
*/display: block;
margin-bottom: 20px

}

/* Icon Images*/
.personalised-ayurveda-animation{

    background-image:url(../img/personalised-ayurveda.png),url(../img/personalised-ayurveda-bg.png);
    background-position: 21px 7px,4px 27px;
    background-repeat: no-repeat,no-repeat;



}
.personalised-ayurveda-animation:hover{


    -webkit-animation :animatedPrice 0.5s ease-in infinite;
    animation: animatedPrice 0.5s ease-in infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;


}

.ioveda-animation{

    background-image:url(../img/ioveda.png),url(../img/ioveda-bg.png);
    background-position: 61px 7px,4px 27px;
    background-repeat: no-repeat,no-repeat;



}
.ioveda-animation:hover{


    -webkit-animation :animatedIoveda 0.5s ease-in infinite;
    animation: animatedIoveda 0.5s ease-in infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;



}

.answers-animation{

    background-image:url(../img/answer-icon-2.png),url(../img/answer-icon.png);
    background-position: 95px 2px,4px 23px ;
    background-repeat: no-repeat,no-repeat;



}
.answers-animation:hover{


    -webkit-animation :animatedBubble 0.5s ease-in infinite;
    animation: animatedBubble 0.5s ease-in infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;

}


.tick-animation{

    background-image:url(../img/tick-icon-2.png);
    display: none,block ;
    background-repeat: no-repeat,no-repeat;



}
.tick-animation:hover{


    background-image:url(../img/tick-icon.png);



}


.card-animation{

    background-image:url(../img/card-icon.png),url(../img/card-icon-bg.png);
    background-position: 19px 66px,0px 20px ;
    background-repeat: no-repeat,no-repeat;
    width: 150px !important ;
    border-radius: 50% ;



}
.card-animation:hover{


    -webkit-animation :animatedCard 0.5s ease-in infinite;
    animation: animatedCard 0.5s ease-in infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

}

.harmony-animation{

    background-image:url(../img/harmony-icon-2.png),url(../img/harmony-icon.png);
    background-position: 102px 45px,0px 20px ;
    background-repeat: no-repeat,no-repeat;
    width: 150px !important ;
    border-radius: 50% ;



}
.harmony-animation:hover{


    -webkit-animation :animatedHarmony 2s linear infinite;
    animation: animatedHarmony 2s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

}




/*Floating man animation*/
@-webkit-keyframes animatedBg {
    from { background-position: 0px -90px, 991px 448px, 839px 417px, 77px 113px, 77px 600px, 1082px 180px}
    to { background-position:   0px -90px, 991px 430px, 70px 380px, 1000px 113px, 1082px 600px, 77px 190px; }
}

@keyframes animatedBg {
    from { background-position: 0px -90px, 991px 448px, 839px 417px, 77px 113px, 77px 600px, 1082px 180px}
    to { background-position:   0px -90px, 991px 430px, 70px 380px, 1000px 113px, 1082px 600px, 77px 190px; }
  }



/*Animations */
@-webkit-keyframes animatedPrice {
    from { background-position: 21px 7px,4px 27px ;}
    to { background-position: 21px 0px,4px 27px ; }
}

@keyframes animatedPrice {
    from { background-position: 21px 7px,4px 27px ;}
    to { background-position: 21px 0px,4px 27px ; }
}


@-webkit-keyframes animatedIoveda {
    from { background-position: 61px 7px,4px 27px ;}
    to { background-position: 61px 0px,4px 27px ; }
}

@keyframes animatedIoveda {
    from { background-position: 61px 7px,4px 27px ;}
    to { background-position: 61px 0px,4px 27px ; }
}


@-webkit-keyframes animatedBubble {
    from { background-position: 95px 4px,4px 23px ;}
    to { background-position: 95px -2px,4px 23px ; }
}

@keyframes animatedBubble {
    from { background-position: 95px 4px,4px 23px ;}
    to { background-position: 95px -2px,4px 23px ;}
}


@-webkit-keyframes animatedHarmony {
    from { background-position: 102px 45px,0px 20px;}
    to { background-position: 60px 30px,0px 20px;}
}

@keyframes animatedHarmony {
    from { background-position: 102px 45px,0px 20px;}
    to { background-position: 60px 30px,0px 20px ;}
}


@-webkit-keyframes animatedCard {
    from { background-position: -11px 66px,0px 20px ;}
    to { background-position: 50px 66px,0px 20px;}
    }
@keyframes animatedCard {
    from { background-position: -11px 66px,0px 20px ;}
    to { background-position: 50px 66px,0px 20px ;}
}



/*Sign up form*/
.next-button {
  font-size: 18px;
  font-family: helvetica ;
}

.facebook-button:hover{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  background-color: #1993bd;
  border-color: #1993bb !important;
}

.google-button:hover{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-color: #ea817f !important;
}
/*Sign up form fields*/

.username-field{
  background-image: url(../img/username-icon.png) ;
  background-color: white ;
  background-size : 15px 15px;
  background-repeat: no-repeat;
  background-position :25px 10px ;
  padding-left: 50px !important;



}

.password-field{
  background-image:  url(../img/password-icon.png) ;;
  background-color: white ;
  background-size : 12px 12px;
  background-repeat: no-repeat;
  background-position :25px 10px ;
  padding-left: 50px !important;






}

.email-field{
  background-image:url(../img/email-icon.png);
  background-color: white ;
  background-size : 15px 15px;
  background-repeat: no-repeat;
  background-position :25px 10px ;
  padding-left: 50px !important;




}

footer.footer {
  display: block;
  min-height: 150px;
  text-align: center;
  background-color: #82A6BD !important;
}
footer ul {
  margin: 0;
}
footer ul li {
  padding: 0 30px;
  border: 0;
  display: inline-block;
  line-height: 150px;
}
footer ul li a {
  color: white;
  font-size: 15px;
}
footer ul li a:hover {
  color: #ccc;
}footer.footer {
  display: block;
  min-height: 150px;
  text-align: center;
  background-color: #82A6BD !important;
  padding-top:50px;
  padding-bottom:50px;
}
footer ul {
  margin: 0;


}
footer ul li {
  padding: 0 30px;
  border: 0;
  display: inline-block;
  margin-left: 0 !important;
  line-height: 50px;

}
footer ul li a:hover {
  color: #ccc;
}

footer p {
  color: white;
  font-weight: 200;
  font-size: 15px;
}

/* footer social icons */
ul.social-networks  {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-networks li {
  display: inline;
  margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.footer-menu li {
  display: inline;
  margin: 0 5px;
}

a.scrollup{
  height:32px;
  width:32px;
  color:#fff;
  font-size:18px;
  line-height:32px;
  text-align:center;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:9999;
  opacity:0.5;
}
a.scrollup:hover{
  opacity:1;
  color:#fff;
}


/*===========================
  --- Template Components ----
=========================== */

/* footer social icons */
.social-networks a.icoRss:hover {
  background-color: #F56505;
}
.social-networks a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-networks a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-networks a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-networks a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-networks a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-networks a.icoRss:hover i, .social-networks a.icoFacebook:hover i, .social-networks a.icoTwitter:hover i,
.social-networks a.icoGoogle:hover i, .social-networks a.icoVimeo:hover i, .social-networks a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.error-field{
border:1px solid red !important ;
color: red !important ;

}

.top-bar {
  background: none;
}
.top-bar-section li:not(.has-form) a:not(.button){
  background-color: white !important ;
}
.top-bar-section ul li > a {
  color: #746e69;
  font-weight: bold;
}

.top-bar-section ul li:hover:not(.has-form)>a{
  color: #f99778;
}
