#faq {
  background-color: #F78966;
}
#faq .section-title {
  color: white;
}
#faq .row {
  padding: 0 15px;
}
.question-container {
  background-color: white;
  border-radius: 6px;
  margin: 30px 0 50px;
  padding: 20px;
}
.faq-question {
  cursor: pointer;
}
.question-container .faq-question p {
  font-size: 120%;
}
.faq-list-container > li:not(:last-child) {
  margin: 15px 0;
  border-bottom: 1px solid #DDDDDD;
}
.deep-list {
  margin-bottom: 15px;
}
.faq-answer {
  display: none;
}

@media (min-width: 64.063em) {
  #faq .row {
    padding: 0;
  }
}