/*#############################################################
############### Index header changes ##########################
#############################################################*/
.header-container {
    display: block;
    z-index: 9999;
    width: 100%;
    background-color: #c7e8e6;
    position: fixed;
    top:0;
    left: 0;
    background-color: white;
    box-shadow: 2px 2px 5px #B6B6B6;
}
.header-container img {
    margin: 12px 0;
}
.header-container label {
    display: inline-block;
    float: right;
}
.header-container i.fa-bars {
    /*making bigger left margin for easier clicking*/
    margin: 14px 20px 13px 50px;
}
.main-navigation ul {
    margin: 0; padding: 0;
    text-align: center;
    font-size: 20px;
    visibility: hidden;
}
.main-navigation ul li {
    line-height: 50px;
}
.main-navigation ul li.social {
    display: none;
}
.main-navigation {
    background-color: inherit;
    float: none;
    /*Start without showing any menu items*/
    max-height: 0;
    transition: max-height .5s cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition: max-height .5s cubic-bezier(0, 1, 0.5, 1);
}
.main-navigation a {
    font-size: 0.8125rem;
    font-weight: bold;
    color: #746e69;
}
.main-navigation a.text-orange {
    color: #f99778;
}
.navigation-header {
    text-align: left;
}
#collapse-nav {
    display: none;
}
/*When checkbox is selected show navigation and add height*/
input[type="checkbox"]:checked + .main-navigation {
    max-height: 350px;
    transition: max-height .5s cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition: max-height .5s cubic-bezier(0, 1, 0.5, 1);
}
input[type="checkbox"]:checked + .main-navigation ul {
    visibility: visible;
    transition: visibility .1s .2s;
    -webkit-transition: visibility .1s .2s;
}

/*#############################################################
############### Media  changes ################################
#############################################################*/
@media ( min-width: 768px ) {
    .main-navigation {
        max-height: 60px;
        display: inline-block;
        float: right;
    }
    .main-navigation ul {
        display: inline-block;
        text-align: right;
        visibility: visible;
        font-size: 16px;
    }
    .main-navigation ul li {
        display: inline-block;
        line-height: 60px;
        padding: 0 10px;
    }
    label.collapse-nav {
        display: none;
    }
}

/*#############################################################
############### Blog header changes ###########################
#############################################################*/
.main-navigation .search-input {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

@media ( min-width: 768px ) {
    .main-navigation .search-input {
        width: auto;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 2px solid #f99778;
    }
    .search-input:focus {
        background-color: #FFFFFF;
        border: none;
    }
}
