.block-grid .block-element {
  padding: 50px 20px 0;
}
.section-padding {
  padding: 50px 0;
}
.how-container {
  background-color:#feecb5;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.how-container::after {
  position: absolute;
  top: 100%;
  left: 48%;
  content: '';
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 30px #feecb5;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

@media (min-width: 40.063em) {
  .block-grid .block-element {
    padding: 50px 40px 0;
    text-align: center;
  }
  .narrow-text {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 64.063em) {
  .narrow-text {
    width: 100%;
  }
}
