.mountains-container {
    background-color: #c7e8e6 ;
    background-image:   url(../img/main-bg.png), url(../img/man.png),
                        url(../img/harmony-icon-2.png), url(../img/clouds2.png),
                        url(../img/cloud1.png), url(../img/cloud3.png);
    background-repeat: no-repeat;
    background-position: 0px 0px, 745px 263px, 745px 263px, 77px 113px, 77px 583px, 1082px 302px;
    background-size: cover,none;
    -webkit-animation :animatedBg 18s linear infinite;
    -webkit-animation-direction: alternate;
    animation: animatedBg 18s linear infinite;
    animation-direction: alternate;
    height: 749px ;
}



.mountains-container .row {
  padding: 0 15px;
}
.form-container {
  background-color: white ;
  border: 5px ;
  border-radius: 12px ;
  margin: 50px 0;
  padding: 10px 15px;
}
.form-container label {
  color: white;
  font-size : 20px;
}
.form-container .text-grey {
    padding: 15px 0;
    margin: 0;
}
.form-container .input-field {
    border-radius: 5px;
}
.form-container .alternative-sign-in {
    color: #f2d5ce;
    font-size : 16px;
    line-height: 24px;
    letter-spacing: .8px;
}
.form-container .next-button {
    margin-top: 10px;
}
.form-container .button.social-button {
  background-color: white;
  border-bottom: 5px solid #ccc;
  padding: 10px 35px;
  width: 100%;
}
.form-container .button.social-button:hover {
  background-color: white;
}
.form-container .button.social-button:visited {
  background-color: white ;
}
.heading-text {
  color: white;
  font-size: 2rem;
  margin: 150px 0 50px;
}
.extra-spacing {
  margin-bottom: 50px;
  float: none !important;
}

@media (min-width: 40.063em) {
  .heading-text {
    margin: 200px 0 50px;
  }
  .extra-spacing {
    margin-bottom: 100px;
  }
}
@media (min-width: 64.063em) {
  .mountains-container .row {
    padding: 0;
  }
}