.color-breadcrumbs {
  color: #4ab5ab;
}
.mountains-container .custom-bread {
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid gainsboro;
}
.payment.form-container {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.payment.form-container input,
.payment.form-container select {
  margin: 5px 0;
}
.payment.form-container label {
  margin-bottom: -10px;
}
.form-container .text-light-grey {
  color: #b3b3b3;
  font-size: 16px;
  line-height: 37px;
}
.order-header {
  padding-top: 40px;
}
.order-header h2 {
  margin-bottom: 0;
}
.custom-bread li {
  display: inline-block;
  font-size: 14px;
  padding: 10px 5px;
}
.custom-bread li > i {
  padding-left: 12px;
  font-size: 12px;
}
.orders .payment.form-container {
  padding: 30px 30px 10px;
  font-size: 17px;
}
.orders .payment.form-container .small-text {
  font-size: 14px;
}
.orders .payment.form-container .text-left {
  padding: 7px 0;
}



@-webkit-keyframes animatedForm {
    from { background-position:  745px 263px, 77px 113px, 77px 600px, 1082px 302px ;}
    to { background-position:  50px 500px, 1082px 50px, 1082px 600px, 77px 302px;}
    }
@keyframes animatedForm {
       from { background-position:  745px 263px, 77px 113px, 77px 600px, 1082px 302px ;}
    to { background-position:  50px 500px, 1082px 50px, 1082px 600px, 77px 302px;}
}

input[type="radio"] {
    margin-left: 20px ;
}

input[type="checkbox"] {
    margin-left: 20px ;
}

#progress-bar{

height : 20px;
background : transparent;
margin-bottom: 25px ;
border-radius: 5px ;
padding: 0 !important ;

}


.form-progress{
    width:11.1%;
    float: left;
    padding: 0 !important ;
    cursor: pointer;

}


.form-progress[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: black;
  font-size: 12px ;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.form-progress span{
  color: white;
  font-size: 14px;
  margin-left: 50%;
  line-height: 0px !important ;

}
#form-progress1{

  background-color: #F78966 ;
  height : 20px;
  border-top-left-radius:12px;
border-bottom-left-radius:12px;

}
#form-progress2{

  background-color: #F2AE75 ;
  height : 20px;

}
#form-progress3{

  background-color: #C7B299 ;
  height : 20px;

}
#form-progress4{

  background-color: #CE9894 ;
  height : 20px;

}
#form-progress5{

  background-color: #DDB1B5 ;
  height : 20px;

}
#form-progress6{

  background-color: #A4A0B5 ;
  height : 20px;

}
#form-progress7{

  background-color: #82A6BD ;
  height : 20px;

}
#form-progress8{

  background-color: #4BB5AB ;
  height : 20px;

}
#form-progress9{

  background-color: #05A4C9 ;
  height : 20px;
  border-top-right-radius:12px;
 border-bottom-right-radius:12px;
}
.payment-errors {
  margin: 5px 0;
  padding: 15px;
  color: #f99778;
  font-weight: 500;
  font-size: 14px;
}
.input-error {
  border: 1px solid #f99778 !important;
}
.payment-list {
  margin: 25px 0;
  padding: 0;
}
.payment-list li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.payment-list label {
  width: 112px;
  height: 65px;
  border: 1px solid rgba(220,220,220, 0.7);
  line-height: 65px;
  text-align: center;
  border-radius: 6px;
}
input[type="radio"] {
  /*hiding visibility of the radio buttons*/
  display: none;
}
input[type="radio"]:checked + label {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(75,181,171,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(75,181,171,0.5);
  box-shadow: 0px 0px 15px 0px rgba(75,181,171,0.5);
  border-color: rgba(75,181,171,0.5)
}
.payment-list .credit-card:after {
  content: "";
  width: 111px;
  height: 10px;
  background-color: rgba(142, 101, 64, 1);
  position: relative;
  bottom: -13px;
  left: 0;
  display: inline-block;
}
label.paypal > span {
  color: #27377F;
  font-weight: 800;
  font-style: italic;
}
label.paypal > span > em {
  color: #2098D5;
}
.payment-list label.no-margs {
  margin: 0;
}
.payment-list label.no-margs span{
  font-size: 22px;
}
.js-btn:focus {
  background-color: #e57565;
}
.js-btn:after {
  /*Creates a spinner in the middle of the button 15px to the left of the border*/
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -11px;
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-left-color: transparent;
  border-radius: 50%;
  /*Rotates infinitely making a circle over 1 second but starts as invisible*/
  opacity: 0;
  -webkit-animation: rotate 1s infinite linear;
  -moz-animation:    rotate 1s infinite linear;
  -o-animation:      rotate 1s infinite linear;
  animation:         rotate 1s infinite linear;
  /*Animates the opacity when it changes to visible*/
  -webkit-transition: opacity 0.5s;
  transition:         opacity 0.5s;
}
.js-btn:before {
  /*Create an empty inline block that will have its width changed later on, making the button grow*/
  content: '';
  display: inline-block;
  height: 100%;
  width: 0px;
  transition: width 0.5s 0.5s;
  -webkit-transition: width 0.5s 0.5s;
}
.js-btn.sending:after {
  /*Showing the spinning icon*/
  opacity: 1;
}
.js-btn.sending:before {
  /*Animating the width of button*/
  width: 20px;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
}

@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 40.063em) {
  .payment.form-container input,
  .payment.form-container select,
  .payment.form-container label {
    margin: 15px 0;
  }
}