


#subscription-form h1{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 4em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.subscription-form .form-container{

  background-color: #f78966 !important ;
  border: 5px ; 
  border-radius: 12px ; 
  margin-top: 0px !important;
    padding-bottom: 10px

}

.form-container  h2 {
  padding-top: 50px;
  color: white ; 
}

.big-heading h2 {
  font-size: 34px !important;
}
.form-container p {
color: #f2d5ce !important ; 
font-size : 16px ;
}

.form-container label {

  color: white ; 
  font-size : 14px !important;


}

input {
  border: 0 !important; 
  border-radius: 8px !important ; 
  margin-top: 20px;
}

form {
  padding: 10px ;
}


.next-button {
  background-color: #ffb64c !important ; 
}

@-webkit-keyframes animatedForm {
    from { background-position:  745px 263px, 77px 113px, 77px 600px, 1082px 302px ;}
    to { background-position:  50px 500px, 1082px 50px, 1082px 600px, 77px 302px;}
    }
@keyframes animatedForm {
       from { background-position:  745px 263px, 77px 113px, 77px 600px, 1082px 302px ;}
    to { background-position:  50px 500px, 1082px 50px, 1082px 600px, 77px 302px;}
}


input[type="radio"] {
    margin-left: 20px ;
}

input[type="checkbox"] {
    margin-left: 20px ;
}

#progress-bar{

height : 20px;
z-index: 98;
background : transparent;
margin-bottom: 25px ;
border-radius: 5px ;
padding: 0 !important ;
   
}


.form-progress{
    width:11.1%; 
    float: left;
    padding: 0 !important ;
    cursor: pointer;

}


.form-progress[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: black;
  font-size: 12px ;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.form-progress span{
  color: white;
  font-size: 14px;
  margin-left: 50%;
  line-height: 0px !important ;

}
#form-progress1{

  background-color: #F78966 ;
  height : 20px;
  border-top-left-radius:12px;
border-bottom-left-radius:12px;

}
#form-progress2{
  
  background-color: #F2AE75 ;
  height : 20px;

}
#form-progress3{

  background-color: #C7B299 ;
  height : 20px;

}
#form-progress4{
  
  background-color: #CE9894 ;
  height : 20px;

}
#form-progress5{

  background-color: #DDB1B5 ;
  height : 20px;

}
#form-progress6{
  
  background-color: #A4A0B5 ;
  height : 20px;

}
#form-progress7{

  background-color: #82A6BD ;
  height : 20px;

}
#form-progress8{
  
  background-color: #4BB5AB ;
  height : 20px;

}
#form-progress9{

  background-color: #05A4C9 ;
  height : 20px;
  border-top-right-radius:12px;
 border-bottom-right-radius:12px;


}

#subscription-form .form-container {
  background-color: #f78966;
  border: 5px;
  border-radius: 12px;
  margin-top: 0px !important;
  padding-bottom: 10px;
}


#subscription-form {

  padding-bottom: 120px;
}