
#userpanel{
    background-color: rgba(75,181,171,0.2);
    background-image:  url(../img/bird-form.png), url(../img/cloud2.png), url(../img/cloud1.png), url(../img/cloud3.png);
    padding: 130px ;
    margin-bottom: 0px;
    background-position: 745px 263px, 77px 113px, 77px 600px, 1082px 302px;
    background-repeat: no-repeat,no-repeat;  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover,none,none,none,none;
  min-height: 800px ;
  /*Background animation*/
      -webkit-animation :animatedForm 15s linear infinite;
    -webkit-animation-direction: alternate;
    animation: animatedForm 15s linear infinite;
    animation-direction: alternate;
  
}

nav.top-bar {
text-align:center !important;
}


.top-bar-section li.active:not(.has-form) a:not(.button):hover{

  text-decoration: none ;
  background-color: #746e69 ;
}

.active{
color : #746e69 !important;


}
section.top-bar-section {
display: inline-block !important;
}

.active-panel {
  color: #f99778 !important;
  text-decoration: none  ;
}

.question 
{
  background-color: white ; 
  width: 500px ;
  height: auto;
  position: relative;
  background: white;
  border: 4px solid #c2e1f5;
    border-radius: 10px ;

}

.answer 
{
  background-color: white ; 
  width: 500px ;
  height: auto;
  position: relative;
  background: white;
  border: 4px solid #c2e1f5;
  border-radius: 10px ;
}

@-webkit-keyframes animatedForm {
    from { background-position:  745px 263px, 77px 113px, 77px 600px, 1082px 302px ;}
    to { background-position:  50px 500px, 1082px 50px, 1082px 600px, 77px 302px;}
    }
@keyframes animatedForm {
       from { background-position:  745px 263px, 77px 113px, 77px 600px, 1082px 302px ;}
    to { background-position:  50px 500px, 1082px 50px, 1082px 600px, 77px 302px;}
}



.question:after, .question:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.question:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 15px;
  margin-top: -15px;
}
.question:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5 ;
  border-width: 21px;
  margin-top: -21px;
}

.answer:after, .answer:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.answer:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: white;
  border-width: 15px;
  margin-top: -15px;
}
.answer:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
  border-width: 21px;
  margin-top: -21px;
}

.question-icon{

  width: 125px ; 
  height: 125px ;
}

#userpanel p { 

margin : 25px;
font-size: 15px ; 
color :#808080 ;
text-align: justify;
}

.ask-new{

  color: #f99778 ; 
  font-size: 18px ; 
  font-family: helvetica ;
}

#userpanel .date {
  background-color: #808080;
  color: #c2e1f5;
  padding: 10px;
  font-family: helvetica;
  height: auto;
  position: relative;
  background: white;
  border: 2px solid #c2e1f5;
  margin-bottom: 35px;
  font-size: 14px;
      border-radius: 10px ;

}

.profile-bar {
  margin-top: 60px !important;
  background-color: white !important;
  box-shadow: 2px 2px 5px #B6B6B6;
}


