
<H3>Create/Edit Post</H3>
<form action="" method=post>
   <dl>
      <dt>Title:
      <dd>{{ form.title(cols="35") }}
      <dt>Post:
      <dd>{{ form.text(cols="35", rows="20") }}
   </dl>
   <p>
      <input type=submit value="Publish">
</form>
