<!DOCTYPE html>
<html>
<body>
Hello {{current_user.username}}
<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>

<form action="{{url_for('add_question') }}" id="usrform", method="post">
  <input type="submit">
</form>
