<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda BLOG</title>
    <!-- combined stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined stylesheets for clarity -->
  </head>

<body>
  <!-- Here goes header -->
  {% include '/partials/blog_header.html' %}
  <!-- Header ends here  -->

  <!-- Blog container -->
  <section id="blog-main">
    <div class="blog-container row">
      <!-- Main content column -->
      <div class="large-10 large-uncentered medium-10 medium-centered small-12 columns">


{% for post in blog_stream %}
      <article class="blog-article">
          <section class="article-header">

            <header>
              <!-- entry title? -->
              <h3>{{post.title}}<br></h3>
              <!-- author -->
              <h5>{{post.author}}</h5>
              <!-- date -->
              <h5>{{post.date}}</h5>
              <!-- comments num -->
              <!-- <h5 class="right"><strong>0 Comments</strong></h5> -->
            </header>

          </section>

          <section class="img-container ">
            <!-- place img here -->
             <img src="http://lorempixel.com/720/300/nature" alt="">
          </section>

          <section class="social-buttons">
            <ul>
              <li>

                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://ioveda.net/blog/{{post.id}}" class="button tiny social-button"><i class="fa fa-2x fa-facebook"></i></a>
              </li>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-google-plus"></i></a>
              </li>
            </ul>
          </section>

          <section class="article-body">
            <p>{{post.text|safe}}</p>

          </section>

          <!-- container for comments -->
          <section class="article-comments">
          </section>
        </article>

{%endfor%}





      </div>
      <!-- Aside column -->

  </section>

    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->

  </body>
    <!-- bundled javascript files -->
    {% include '/partials/scripts.html' %}
    <!-- bundled javascript files -->
</html>