<!doctype html>
<html class="no-js" lang="en">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62942043-1', 'auto');
  ga('send', 'pageview');

</script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda BLOG</title>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../static/js/vendor/modernizr.js"></script>
    <script src="../static/js/foundation/foundation.js"></script>
    <script src="../static/js/foundation/foundation.tab.js"></script>
    <script src="../static/js/foundation/foundation.orbit.js"></script>
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <link rel="stylesheet" href="../static/css/blog_page.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>


<body>
  <!-- Here goes header -->
  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
            <a href='index'>
            <h1>
              <img  src='../static/img/logo-blog.png' />
            </h1>
            </a>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
            <a href="#">
            </a>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul id="nav" class="right">
          <li>
            <a><i class="fi-magnifying-glass"></i></a>
          </li>
          <li>
            <input size="5" placeholder="Search" type="text" class="search-input">
          </li>
          {% if current_user.is_authenticated() %}
          <li >
            <a href="profile" id='signup' class='sign-up'>{{ current_user.username }} <i class="fi-man"></i></a>
          </li>
          <li >
            <a href="logout" id="logout" class="sign-up"> Logout <i class="fi-man"></i></a>
          </li>
          {% else %}
          <li > <a href="signup" id='signup' class='sign-up'>Sign up <i class="fi-man"></i></a>
          </li>
          {% endif %}
          <li>
            <a href="#"><strong>IoVeda.com</strong></a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <!-- Header ends here  -->

  <!-- Blog container -->
  <section id="blog-main">
    <div class="blog-container row">
      <!-- Main content column -->
      <div class="columns medium-9 small-12">
        <article class="blog-article start-container">
          <section class="article-header">
            <header>
              <!-- entry title? -->
              <h3>Good for you, Meditation is</h3>
              <!-- author -->
              <h5>Yoda powerflower</h5>
              <!-- date -->
              <h5>05.06.2026</h5>
              <!-- comments num -->
              <h5 class="right"><strong>2 Comments</strong></h5>
            </header>
          </section>

          <section class="img-container columns small-12">
            <!-- place img here -->
            <!-- <img src="" alt=""> -->
          </section>

          <section class="social-buttons columns small-12">
            <ul>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-facebook"></i></a>
              </li>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-google-plus"></i></a>
              </li>
            </ul>
          </section>

          <section class="article-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </section>

          <!-- container for comments -->
          <section class="article-comments">
            <header>
              <!-- comment number -->
              <h3>2 Comments</h3>
              <h5><span>Login</span> to join the conversation</h5>
            </header>

            <!-- place to put all comments one after another -->
            <section class="comment-body column small-12">
              <!-- user photo container -->
              <img src="static/img/faq-icon.png" alt="user-avatar">
              <!-- link to comment -->
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>

           <section class="comment-body column small-12">
              <!-- user photo container -->
              <img src="static/img/faq-icon.png" alt="user-avatar">
              <!-- link to comment -->
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>

          </section>
        </article>
      </div>

      <!-- Aside column -->
      <div class="columns medium-3 small-12 start-container aside-column">
        <header>
          <h5><strong>READ ALSO</strong></h5>
        </header>
        <!-- place link to the article -->
        <div class="link-container">
          <a class="" href="">
            <!-- place thumbnail -->
            <div class="thumb-container">
            </div>
            <!-- link to article title template -->
            <h5>Good for you, meditation is</h5>
            <!-- link to article author template -->
            <h6>Yoda power</h6>
            <h6><span>READ</span></h6>
          </a>
        </div>

        <div class="link-container">
          <a class="" href="">
            <!-- place thumbnail -->
            <div class="thumb-container">
            </div>
            <!-- link to article title template -->
            <h5>Good for you, meditation is</h5>
            <!-- link to article author template -->
            <h6>Yoda power</h6>
            <h6><span>READ</span></h6>
          </a>
        </div>
      </div>

    </div>
  </section>
    <!-- Here goes footer -->
    <!-- New footer in design? -->

    {% include 'footer.html' %}


    <!-- Footer ends here  -->

    <script>
        $(document).foundation();

    </script>
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>


</body>
</html>
<script src="../static/js/index.js"></script>


