<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda BLOG</title>
    <!-- combined stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined stylesheets for clarity -->
  </head>

<body>
  <!-- Here goes header -->
  {% include '/partials/blog_header.html' %}
  <!-- Header ends here  -->

  <!-- Blog container -->
  <section id="blog-main">
    <div class="blog-container row">
      <!-- Main content column -->
      <div class="large-10 large-uncentered medium-10 medium-centered small-12 columns">

        <article class="blog-article">
          <section class="article-header">

            <header>
              <!-- entry title? -->
              <h3>Good for you, Meditation is.<br>-YODA</h3>
              <!-- author -->
              <h5>Yoda powerflower</h5>
              <!-- date -->
              <h5>15.06.2015</h5>
              <!-- comments num -->
              <h5 class="right"><strong>0 Comments</strong></h5>
            </header>

          </section>

          <section class="img-container ">
            <!-- place img here -->
             <img src="http://lorempixel.com/720/300/nature" alt="">
          </section>

          <section class="social-buttons">
            <ul>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-facebook"></i></a>
              </li>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-google-plus"></i></a>
              </li>
            </ul>
          </section>

          <section class="article-body">
            <p>
            1.  Start with a 10 mins practice.<br>
            2.  Sit comfortably.<br>
            3.  Bring awareness to your breath.<br>
            4.  Take three long breaths, inhale with nose and exhale with mouth.<br>
            5.  Now close your eyes and breath normally.<br>
            6.  Maintain focus on your breath, e.g. sensations around your nostrils while you inhale and exhale.<br>
            7.  Worry not if your mind wanders off, bring the attention back to your breath.<br>
            8.  At end of session, open your eyes slowly. <br>
            9.  Take a moment for yourself, before you get back to work. <br>
            10. Do not give up, practise for at least 10 mins everyday, namaste:) </p>
          </section>

          <!-- container for comments -->
          <section class="article-comments">
          </section>
        </article>



  <article class="blog-article">
          <section class="article-header">
            <header>
              <!-- entry title? -->
              <h3>What is Ayurveda?</h3>
              <!-- author -->
              <h5>Yoda</h5>
              <!-- date -->
              <h5>14.06.2015</h5>
              <!-- comments num -->
              <h5 class="right"><strong>0 Comments</strong></h5>
            </header>
          </section>

          <section class="img-container">
            <!-- place img here -->
             <img src="http://lorempixel.com/730/320/nature" alt="">
          </section>

          <section class="social-buttons">
            <ul>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-facebook"></i></a>
              </li>
              <li>
                <a class="button tiny social-button"><i class="fa fa-2x fa-google-plus"></i></a>
              </li>
            </ul>
          </section>

          <section class="article-body">
            <p>Ayurveda (pronounced eye-yur-VEY-da) is a rich and holistic nature based medical system designed to prevent disease, promote health, and unlock the potential for living beings to thrive.  It is the oldest surviving medical system in the world, dating back over 5,000 years to ancient India.  “Ayurveda” is derived from the Sanskrit words “ayus” (life) and “ved” (wisdom/knowledge).
               It is holistic because Ayurveda is concerned with whole person, including ‘Body, Mind and Spirit’ as an inherently ‘integrative’ system. One of the main premises of Ayurveda is that each person has a unique constitution of doshas, or elemental vital body constitutions, known as Vata (air and space), Pitta (fire and water), and Kapha (earth and water).  By assessing a person’s unique combination of these elements, we can help determine their individual physical and mental characteristics and detect imbalances that may be contributing to disease.  Using this information, we can customize a plan to optimize the person's health and wellbeing so they can reach their highest potential.
               The sister science to Yoga, Ayurveda teaches us how to live in balance with nature, and learn how to be at peace with ourselves so we can then reflect that happiness and abundance to those around us. </p>
          </section>

          <!-- container for comments -->
          <section class="article-comments">

            <!-- place to put all comments one after another -->


          </section>
        </article>
      </div>
      <!-- Aside column -->

  </section>

    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->

  </body>
    <!-- bundled javascript files -->
    {% include '/partials/scripts.html' %}
    <!-- bundled javascript files -->
</html>