<link rel="stylesheet" href="../static/css/bamboo.css">


<nav id="main-nav" class="navigation overflow">

<ul>
{%for u in users %}
    {%if user_needs_anwser(u.id) %}
    <font color='red'><li><a href=/doctor/{{u.id|string}}>{{u.username}} (awaiting anwser)</a></li></font>
    {%else%}
    <font color='green'><li><a href=/doctor/{{u.id|string}}>{{u.username}}</a></li></font>
    {%endif%}
{%endfor%}

</ul>

</nav>



<div id="container">
  <header class="primary"> <span class="open icon">&#9776;</span>
    <hgroup>
      <h1>Ayurveda journey</h1>
    </hgroup>
  </header>
  <section id="scroller" class="overflow">
    <div id="content"> 
      
    {% if userid %}
        {% if user_question %}
            {%for question in user_question %}
                <font size=2><br>{{ question.date }}</font>
                {% if question.doctor_id %}
                 <br><font color='red'><b>{{ question.question_text }}</b></font><br>
                {%else%}
                  <br> <font color='green'><b>{{ question.question_text }}</b></font><br>         
                {%endif%}
            {%endfor%}
        {%else%}
        user asked no questions yet
        {%endif%}
    {% endif %}

    <textarea rows="4" cols="50" name="anwser" form="usrform">
jkhjkhjkhjk</textarea>
<form action="/doctor/{{userid}}" id="usrform", method="post">
  <input type="submit">
</form>
          
    </div>
  </section>
</div>





<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="../static/js/bamboo.0.1.js"></script>