<div class="column">
{%for u in users %}
    <br><a href=/doctor/{{u.id|string}}><td>{{u.username}}</td></a>
{%endfor%}
</div>


<div class="column">
<br>
<br>
{% if userid %}
    {% if user_question %}
        {%for question in user_question %}
            <font size=2><br>{{ question.date }}</font>
            {% if question.doctor_id %}
             <br><font color='red'><b>{{ question.question_text }}</b></font><br>
            {%else%}
              <br> <font color='green'><b>{{ question.question_text }}</b></font><br>         
            {%endif%}
        {%endfor%}
    {%else%}
    user asked no questions yet
    {%endif%}
{% endif %}
</div>






<br>
<br>
<div class="column2">
<textarea rows="4" cols="50" name="anwser" form="usrform">
jkhjkhjkhjk</textarea>

<form action="/doctor/{{userid}}" id="usrform", method="post">
  <input type="submit">
</form>
</div>


<style>
.column{
float:left;
}

.column2{
float:bottom;
}
</style>




