<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

    <!-- combined stylesheets for clarity -->
    <link rel="stylesheet" href="../static/css/foundation.min.css" />
    <link rel="stylesheet" href="../static/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/subscribe.css" />
    <link rel="stylesheet" href="../static/css/custom.css" />


    <!-- combined stylesheets for clarity -->
  </head>

<body>
    <!-- Here goes header -->
    {% include '/partials/header.html' %}
    <!-- Header ends here  -->

    <section  id='subscription-form' >
      <div id='progress-bar' class="small-12 medium-8 large-6 small-centered large-centered columns">
      <div id='form-progress1' class="columns form-progress" title='User Information'><span>1</span></div>
      <div id='form-progress2' class="columns form-progress" title='Main Complaints' hidden><span>2</span></div>
      <div id='form-progress3' class="columns form-progress" title='Medical History' hidden><span>3</span></div>
      <div id='form-progress4' class="columns form-progress" title='Digestive System' hidden><span>4</span></div>
      <div id='form-progress5' class="columns form-progress" title='Urinary System' hidden><span>5</span></div>
      <div id='form-progress6' class="columns form-progress" title='Sleep' hidden><span>6</span></div>
      <div id='form-progress7' class="columns form-progress" title='Psychological State' hidden><span>7</span></div>
      <div id='form-progress8' class="columns form-progress" title='Habits' hidden><span>8</span></div>
      <div id='form-progress9' class="columns form-progress" title='Female Health' hidden><span>9</span></div>
      </div>

      <div id='form-bg' class="form-container big-heading small-12 medium-8 large-6 small-centered large-centered columns">
       <form id='form1' >

            <div class="text-center large-9 large-centered columns">
                    <h2>Health Profile</h2>
                    <p></p>
                  </div>

                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Birthday<label>
                    <p>Helps doctor in considering age specific conditions</p>
                    <div class="row">
                        <div class="large-4 medium-4 small-4 columns">
                               <input id='user-day' type="number" placeholder="DD" />
                        </div>
                        <div id='user-month' class="large-4 medium-4 small-4 columns">
                          <input type="number" placeholder="MM" />
                        </div>
                        <div  id='user-year' class="large-4 medium-4 small-4 columns">
                           <input type="number" placeholder="YYYY" />
                        </div>
                    </div>
                  </div>
                  </div>


            <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Gender
                      <p></p>
                      <input type="radio" class='user_gender' name="user_gender" value="Male" /> Male<br>
                      <input type="radio" class='user_gender' name="user_gender" value="Female" /> Female
                    </label>
                    </div>
                </div>

                  <div class="row">
                    <div class="large-9 large-centered columns">
                      <label>Height (cm)
                        <p></p>
                        <input type="text" placeholder="To calculate your BMI" id='user_height' />
                      </label>
                    </div>
                  </div>
                    <div class="row">
                    <div class="large-9 large-centered columns">
                      <label>Weight (kg)
                      <p></p>
                        <input type="text" placeholder="To calculate your BMI" id='user_weight' />
                      </label>
                    </div>
                  </div>
                  <div class="row">
                     <div class="large-9 large-centered columns">
                      <a href="#" id='next1' class="button next-button" style='top:15px'>Next</a>
                    </div>
                  </div>
                </form>
                <!-- Form 2nd Part -->
                 <form id='form2' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Main complaints if any</h2>
                    <p>Your present condition</p>
                  </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Symptom<p></p>
                      <input type="text" placeholder="The chief signs, symptoms or complaints" id='maincomplaints_symptom' />
                    </label>
                    </div>
                </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Others...<p></p>
                      <input type="text" placeholder="If there are any more symptoms or things you want us to know" id='maincomplaints_others' />
                    </label>
                  </div>
                </div>
                   <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Name of condition (if already diagnosed using western/school medicine)<p></p>
                    <input type="text" placeholder="Don't have to mention if you don't know" id='maincomplaints_condition' />
                    </label>
                  </div>
                </div>

                  <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Is there something like food, lifestyle or environmental changes that TRIGGERs the symptoms?<p></p>
                    <input type="text" placeholder="Don't have to mention if you don't know" id="maincomplaints_symptom_trigger" />
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Medication that you take (if any)<p></p>
                    <input type="text" placeholder="Like those colorful pills we all pop once a while" id="maincomplaints_medicines" />
                    </label>
                  </div>
                </div>
                   <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back2' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next2' class="button next-button" style='top:15px'>Next</a>

                    </div>
                </div>

              </form>

               <!-- Form 3rd Part -->
                 <form id='form3' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Medical History</h2>
                    <p></p>
                  </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>What type of treatments and medicines have you taken so far?
                      <p></p>
                      <input type="text" placeholder="like any special treatments..." id='medicalhistory_medicines'/>
                    </label>
                    </div>
                </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Any side effects observed?<p></p>
                      <input class="medicalhistory_sideeffects" name="medicalhistory_sideeffects"  type="radio" value='yes'> Yes
                      <input value='no' class="medicalhistory_sideeffects" name="medicalhistory_sideeffects" type="radio" class="medicalhistory_sideeffects"> No</label>

                  </div>
                </div>
                   <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Are you allergic to anything?
                      <p></p>
                    <input type="text" placeholder="Don't have to mention if you don't know" id='medicalhistory_allergic'/>
                    </label>
                  </div>
                </div>

                  <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you have or had any of the following?
                       <p></p>
                       <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
                        <li>
                          <input type="checkbox" class='medicalhistory_diseases' value='diabetes'/><label for="diabetes">Diabetes</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='hypertension' /><label for="hypertension">Hypertension</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='high cholesterol level' /><label for="high-cholesterol-level">High Cholesterol Level</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='bronchial asthma' /><label for="bronchial-asthma">Bronchial Asthma</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='arthritis' /><label for="diabetes">Arthritis</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='stroke' /><label for="diabetes">Stroke</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='stress' /><label for="diabetes">Stress</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='mood fluctuations' /><label for="diabetes">Mood Fluctuations</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='osteopenia' /><label for="diabetes">Osteopenia/Osteoporosis</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='addiction to tobacco/alcohol' /><label for="diabetes">Addiction to tobacco/alcohol</label><br>
                          <input type="checkbox" class='medicalhistory_diseases' value='other' /><label for="diabetes"><input type="text" placeholder="Add Disease" id='medicalhistory_otherdisease' /></label>
                        </li>
                    </ul>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How would you describe your immune system?
                      <p></p>
                       <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
                        <li>
                          <input type="radio" class='medicalhistory_immune' name='medicalhistory_immune' value='Strong'/><label for="diabetes"> Strong</label><br>
                          <input type="radio" class='medicalhistory_immune' name='medicalhistory_immune' value='Medium'/><label for="hypertension"> Medium</label><br>
                          <input type="radio" class='medicalhistory_immune' name='medicalhistory_immune' value='Low'/><label for="high-cholesterol-level"> Low</label><br>

                        </li>
                    </ul>
                    </label>
                  </div>
                </div>
                   <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back3' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next3' class="button next-button" style='top:15px'>Next</a>

                    </div>
                </div>

              </form>

               <!-- Form 4th Part -->
                 <form id='form4' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Digestive System</h2>
                    <p></p>
                  </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How is your appetite and digestion?<br>
                      <p></p>
                      <input type="radio" class='digestive_immune' value='normal' name="digestive_immune" /> Normal<br>
                      <input type="radio" class='digestive_immune' value='low'    name="digestive_immune" /> Low<br>
                      <input type="radio" class='digestive_immune' value='high'   name="digestive_immune" /> High
                    </label>
                    </div>
                </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Details of your bowel movements
                      <p></p>
                      <input type="text" id='digestive_bowel' placeholder="Such as 1.time of evacuations, 2.frequency, 3.color, 4.consistency, 5.regularity, irregularity and 6.smell" />
                    </label>
                  </div>
                </div>
                   <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you pass wind?
                    <p></p>
                    <input type="text" id='digestive_wind' placeholder="Sometimes experienced on eating after long intervals" />
                    </label>
                  </div>
                </div>
                      <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you have acid reflux/heartburn?
                      <p></p>
                      <input name="digestive_acid" class='digestive_acid' type="radio" value="yes"> Yes
                      <input name="digestive_acid" type="radio" class="digestive_acid" value='no'> No</label>

                  </div>
                </div>
                      <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you experience heaviness, discomfort or pain in the stomach after eating?
                      <p></p>
                      <input name="digestive_heaviness" class='digestive_heaviness' type="radio" value="yes"> Yes
                      <input name="digestive_heaviness" type="radio" class="digestive_heaviness" value='no'> No</label>

                  </div>
                </div>

                 <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back4' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next4' class="button next-button" style='top:15px'>Next</a>

                    </div>
                </div>


              </form>

                <form id='form5' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Urinary System</h2>
                    <p></p>
                  </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you feel any burning sensation while urinating?
                      <p></p>
                      <input type="radio" class='urinary_burning' name="urinary_burning" value="Yes" /> Yes<br>
                      <input type="radio" class='urinary_burning' name="urinary_burning" value="No" /> No
                    </label>
                    </div>
                </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>What is the frequency, quantity and color of your urine?
                      <p></p>
                      <input type="text" id='urinary_color' placeholder="e.g answers: regular, normal, yellow" />
                    </label>
                  </div>
                </div>
                 <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back5' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next5' class="button next-button" style='top:15px'>Next</a>

                    </div>
                </div>

              </form>

               <form id='form6' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Sleep</h2>
                    <p></p>
                  </div>
                <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How is your sleeping pattern
                      <p></p>
                      <input type="radio" class='sleep_pattern' name="sleep_pattern" value="Sound Sleep" /> Sound Sleep<br>
                      <input type="radio" class='sleep_pattern' name="sleep_pattern" value="Sound but less than 6 hrs" /> Sound but less than 6 hrs<br>
                      <input type="radio" class='sleep_pattern' name="sleep_pattern" value="Disturbed" /> Disturbed
                    </label>
                    </div>
                </div>
                 <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How often do you dream and remember?
                      <p></p>
                      <input type="radio" class='sleep_dream' name='sleep_dream' value="Regualry" /> Regualry<br>
                      <input type="radio" class='sleep_dream' name='sleep_dream' value="Not so often" /> Not so often<br>
                      <input type="radio" class='sleep_dream' name='sleep_dream' value="Very rarely" /> Very rarely
                    </label>
                    </div>
                </div>
                 <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back6' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next6' class="button next-button" style='top:15px'>Next</a>

                    </div>
                </div>

              </form>
               <form id='form7' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Psychological State</h2>
                    <p></p>
                  </div>
              <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How would you rate yourself emotionally?
                      <p></p>
                       <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
                        <li>
                          <input type="checkbox" value='Energitic' class='psy_emotion'/><label for="diabetes">Energetic</label><br>
                          <input type="checkbox" value='Comptetitive' class='psy_emotion'/><label for="hypertension">Comptetitive</label><br>
                          <input type="checkbox" value='Driven' class='psy_emotion'/><label for="high-cholesterol-level">Driven</label><br>
                          <input type="checkbox" value='Restless' class='psy_emotion'/><label for="bronchial-asthma">Restless</label><br>
                          <input type="checkbox" value='Impatient' class='psy_emotion'/><label for="diabetes">Impatient</label><br>
                          <input type="checkbox" value='Indecisive' class='psy_emotion'/><label for="diabetes">Indecisive</label><br>
                          <input type="checkbox" value='Anxious' class='psy_emotion'/><label for="diabetes">Anxious</label><br>
                          <input type="checkbox" value='Worrisome' class='psy_emotion'/><label for="diabetes">Worrisome</label><br>
                          <input type="checkbox" value='Nervous' class='psy_emotion'/><label for="diabetes">Nervous</label><br>
                          <input type="checkbox" value='Depressed' class='psy_emotion'/><label for="diabetes">Depressed</label><br>
                          <input type="checkbox" value='Tensed' class='psy_emotion'/><label for="diabetes">Tensed</label><br>
                          <input type="checkbox" value='Calm' class='psy_emotion'/><label for="diabetes">Calm</label><br>
                          <input type="checkbox" value='Patient' class='psy_emotion'/><label for="diabetes">Patient</label><br>
                          <input type="checkbox" value='Relaxed' class='psy_emotion'/><label for="diabetes">Relaxed</label><br>
                          <input type="checkbox" value='Other'/><label for="diabetes"><input id='psy_emotion_other' type="text" placeholder="Add Other" /></label>
                        </li>
                    </ul>
                    </label>
                  </div>
                </div>


                 <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How do you rate your memory?
                      <p></p>
                      <input type="radio" class='psy_memory' name="psy_memory" value='Very good' /> Very good<br>
                      <input type="radio" class='psy_memory' name="psy_memory" value='Medium' /> Medium<br>
                      <input type="radio" class='psy_memory' name="psy_memory" value='Not so good'/> Not so good
                    </label>
                    </div>
                </div>
                   <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Are you easy to get angry?
                      <p></p>
                      <input type="radio" class='psy_angry' name="psy_angry" value='Yes, for small causes'/> Yes, for small causes<br>
                      <input type="radio" class='psy_angry' name="psy_angry" value='Yes, but only for big situations' /> Yes, but only for big situations<br>
                      <input type="radio" class='psy_angry' name="psy_angry" value='No quite rarely' /> No quite rarely
                    </label>
                    </div>
                </div>
                 <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back7' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next7' class="button next-button" style='top:15px'>Next</a>

                    </div>
                </div>

              </form>
               <form id='form8' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Habits</h2>
                    <p></p>
                  </div>
                 <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you smoke?
                      <p></p>
                      <input type="radio" class='habits_smoke' name="habits_smoke" value='Regularly' /> Regularly<br>
                      <input type="radio" class='habits_smoke' name="habits_smoke" value='Occasionaly' /> Occasionally<br>
                      <input type="radio" class='habits_smoke' name="habits_smoke" value='No' /> No
                    </label>
                    </div>
                </div>
                  <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How often do you drink?
                      <p></p>
                      <input type="radio" class='habits_drink' name="habits_drink" value='Regularly' /> Regularly<br>
                      <input type="radio" class='habits_drink' name="habits_drink" value='Occasionaly' /> Occasionally<br>
                      <input type="radio" class='habits_drink' name="habits_drink" value='No' /> Never
                    </label>
                    </div>
                </div>


                 <div class="row">
                <div class="large-9 large-centered columns">
                      <a href="#" id='back8' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='next8' class="button next-button" style='top:15px'>Next</a>
                    </div>
                </div>

              </form>

               <form id='form9' hidden>
                  <div class="text-center large-9 large-centered columns">
                    <h2>Female Health</h2>
                    <p></p>
                  </div>
                 <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Menstruation Cycle
                      <p></p>
                      <input type="radio" name='female_mensturation' value="Regular"/> Regular<br>
                      <input type="radio" name='female_mensturation' value="Regular" /> Irregular<br>
                    </label>
                    </div>
                </div>
                 <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>How many days of flow do you normally experience?
                      <p></p>
                    <input type="text" id='female_flow'/>
                    </label>
                  </div>
                </div>
                  <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you experience any of the following?
                      <p></p>
                       <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-1">
                        <li>
                          <input type="checkbox" value='clots in flow' class='female_symptoms'/><label for="diabetes">Clots in flow</label><br>
                          <input type="checkbox" value='pain' class='female_symptoms'/><label for="hypertension">Pain</label><br>
                          <input type="checkbox" value='nausea' class='female_symptoms'/><label for="high-cholesterol-level">Nausea</label><br>
                          <input type="checkbox" value='vomiting' class='female_symptoms'/><label for="bronchial-asthma">Vomiting</label><br>
                          <input type="checkbox" value='fatigue' class='female_symptoms'/><label for="diabetes">Fatigue</label><br>
                          <input type="checkbox" value='diabetes' class='female_symptoms'/><label for="diabetes"><input id='female_symptoms_other' type="text" placeholder="Add Other" /></label>
                        </li>
                    </ul>
                    </label>
                  </div>
                </div>
                  <div class="row">
                  <div class="large-9 large-centered columns">
                    <label>Do you have kids, if yes, how many?
                      <p></p>
                    <input type="text" id='female_kids' />
                    </label>
                  </div>
                </div>

                 <div class="row">
                <div class="large-9 large-centered columns">
                     <input type="checkbox" value='terms' id='terms' style='margin:0 !important' CHECKED/><label for="terms">By clicking 'Submit' you agree to ioveda<a href="http://ioveda.net/terms_and_conditions"> Terms & Conditions.</a></label><br>
                  </div>

                <div class="large-9 large-centered columns">
                      <a href="#" id='back9' class="button next-button" style='top:15px'>Back</a>
                      <a href="#" id='submit-button' class="button next-button" style='top:15px'>Submit</a>

                    </div>
                </div>

              </form>
             </div>



    </section>

    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->

</body>

  <!-- bundled javascript files -->
  {% include '/partials/scripts.html' %}
  <!-- bundled javascript files -->
  <script>
    $(document).foundation();
  </script>

</html>