<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda - Holistic Ayurveda Medicine </title>

    <!-- combined css stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined css stylesheets for clarity -->

  </head>
  <body>

    <!-- Here goes header -->
    {% include '/partials/header.html' %}
    <!-- Header ends here  -->

    <!-- Couldnt think of better name for this part lol -->
    {% include '/partials/index_mountains.html' %}
    <!-- Couldnt think of better name for this part lol  end-->

    <!-- How it works section -->
    {% include '/partials/how_it_works.html' %}
    <!-- How it works section end -->

    <!-- ayurveda section -->
    {% include '/partials/ayurveda.html' %}
    <!-- ayurveda section end -->

    <!-- ayurveda plans section start -->
    {% include '/partials/ayurveda_plans.html' %}
    <!-- ayurveda plans section end -->

    <!-- faq section start -->
    {% include '/partials/faq.html' %}
    <!-- faq plans section end -->

    <!-- Here goes footer -->
    {% include 'partials/footer.html' %}
    <!-- Footer ends here  -->

  </body>

  <!-- bundled javascript files -->
  {% include 'partials/scripts.html' %}
  <!-- bundled javascript files -->

  <script>
    $(document).foundation();
  </script>

  <!-- Scroll animating script -->
  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

</html>