<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

    <!-- combined css stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined css stylesheets for clarity -->

  </head>
  <body>
    <!-- Here goes header -->
    {% include '/partials/header.html' %}
    <!-- Header ends here  -->

    <section id="order" class="mountains-container">
      <ul class="custom-bread">
        <li class="text-grey">Your order <i class="fa fa-arrow-right"></i></li>
        <li class="color-breadcrumbs">Payment <i class="fa fa-arrow-right text-grey"></i></li>
        <li class="text-grey">Confirmation</li>
      </ul>

      <header class="text-center order-header">
        <h2 class="text-grey">Payment</h2>
      </header>

      <div class="row">
        <div class="payment form-container small-12 medium-10 large-6 small-centered large-centered columns">
          <form class="row" id="payment-form" action={{stripe_url}} method="POST" >

            <!-- show errors in the span below -->
            <span class="payment-errors"></span>

            <div class="text-center large-12 large-centered columns">
              {% with messages = get_flashed_messages() %}
              {%if messages %}
              {{ messages[0] }}
              {%endif %}
              {%endwith%}
            </div>

            <div class="small-12 medium-4 columns">
              <label class="text-light-grey">Card number</label>
            </div>
            <div class="small-12 medium-8 columns">
              <input type="text" placeholder="Type here" maxlength="23" data-stripe="number">
            </div>

            <div class="small-12 medium-4 columns">
              <label class="text-light-grey">Card holder name</label>
            </div>
            <div class="small-12 medium-8 columns">
              <input type="text" placeholder="Type here">
            </div>

            <div class="small-12 medium-6 columns">
              <select name="month" id="month" onchange="" size="1" data-stripe="month">
                <option value="" disabled selected>Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
              <div class="small-12 medium-6 columns">
                <select name="year" id="year" onchange="" size="1" data-stripe="year">
                <option value="" disabled selected>Year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
              </select>
            </div>

            <div class="small-12 medium-4 columns">
              <label class="text-light-grey">Security code</label>
            </div>
            <div class="small-12 medium-8 columns">
              <input type="text" placeholder="Type here" data-stripe="cvc" maxlength="3">
            </div>

            <div class="large-12 large-centered columns">
              <input id="payment-button" class="button tiny right" type="submit" value="Continue">
            </div>

          </form>
        </div>
      </div>
    </section>

  <!-- Here goes footer -->
  {% include '/partials/footer.html' %}
  <!-- Footer ends here  -->

  </body>
  <!-- bundled javascript files -->
  {% include '/partials/scripts.html' %}
  <!-- bundled javascript files -->
</html>