<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

    <!-- combined css stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined css stylesheets for clarity -->
</head>

<body>
    <!-- Here goes header -->
    {% include '/partials/header.html' %}
    <!-- Header ends here  -->



    <section class="orders mountains-container">
      <ul class="custom-bread">
        <li class="color-breadcrumbs">Your order <i class="fa fa-arrow-right"></i></li>
        <li class="text-grey">Payment <i class="fa fa-arrow-right text-grey"></i></li>
        <li class="text-grey">Confirmation</li>
      </ul>

      <header class="text-center order-header">
        <h2 class="text-grey">Your orders</h2>
      </header>

      <div class="row">

        <div class="payment form-container small-12 medium-10 large-6 small-centered columns text-light-grey">

          <div class="text-left">
            <span class="grey">Product</span>
            <span class="grey right">Price</span>
          </div>

          <div class="text-left">
            <span class="grey">{{ pp['product'] }}</span>
            <span class="grey right">{{ pp['price'] }}</span><br/>
            <span class="grey small-text">{{ pp['description'] }}</span>
          </div>

          <div class="text-left">
            <span class="grey">Total</span>
            <span class="grey right">{{ pp['total'] }}</span>
          </div>

          <div class="text-left">
            <span class="grey">Method of payment:</span>
          </div>

          <ul class="payment-list">
            <li>
              <input type="radio" name="payment-method" id="cc" data-payment="order?plan={{ pp['plan'] }}">
              <label class="credit-card no-margs" for="cc"></label>
            </li>
            <li class="paypal">
              <input type="radio" name="payment-method" id="pp" data-payment="{{ pp['paypal'] }}">
              <label class="paypal no-margs" for="pp"><span>Pay<em>Pal</em></span></label>
            </li>
          </ul>
          {% with messages = get_flashed_messages() %}
          {%if messages %}
          {{ messages[0] }}
          {%endif %}
          {%endwith%}

          <div class="text-right">
            <button id="js-btn" class="button js-btn">Continue</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->

</body>
    <!-- bundled javascript files -->
    {% include '/partials/scripts.html' %}
    <!-- bundled javascript files -->

    <!-- Add animation to the button -->
    <script>
        var paymentButton = waitingButton( 'js-btn', 'sending' );
    </script>
</html>