<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

    <!-- combined css stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined css stylesheets for clarity -->
</head>

<body>

    <!-- Here goes header -->
    {% include '/partials/header.html' %}


    <!-- Header ends here  -->
     <section id="plans">

{% with messages = get_flashed_messages() %}
{%if messages %}
{{ messages[0] }}
{%endif %}
{%endwith%}


    {% include '/partials/ayurveda_plans.html' %}

    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->
</body>

  <!-- bundled javascript files -->
  {% include 'partials/scripts.html' %}
  <!-- bundled javascript files -->
  <script>
    $(document).foundation();
  </script>

</html>