{%if qs %}
{%for q in qs %}
<br>
{{ q.date }}
<br>
{%if q.doctor_id %}
<b>DOCTOR ANWSER</b>
<p>{{q.question_text}}</p>   
{%else %}
<p><b> {{ q.question_text }}</b><p>
{%endif%}
{%endfor%}
{%else%}
<p> no questions in your stream <p>
ask a question
{%endif%}


<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>

<form action="/profile/journey" id="usrform", method="post">
  <input type="submit">
</form>
