<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

    <!-- combined css stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined css stylesheets for clarity -->
</head>

<body>

  <!-- Here goes header -->
  {% include '/partials/header.html' %}
  <!-- Header ends here  -->

  <section class="mountains-container sign-in-section">
    <div class="row">

      <div class="text-center form-container large-4 medium-6 medium-centered small-12 columns">
        <h2 class="text-grey">Log In</h2>

        <form class="login-form">
          <div class="row">
            <div class="large-10 medium-10 medium-centered small-11 small-centered large-centered columns">
              <input class='email-field input-field' id='username' type="text" placeholder="Username/Email" />
            </div>
          </div>

          <div class="row">
            <div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered columns">
              <input class='password-field input-field' id='password' type="password" placeholder="Password" />
            </div>
          </div>

          <div class="row">
            <div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered  columns">
              <a id='sign-in' class="button expand next-button">Log in!</a>
            </div>
          </div>

          <div class="row">
            <div class="large-10 medium-10 medium-centered small-11 small-centered  large-centered centered columns">
              <div class="text-center">
                <p class="alternative-sign-in">...or log in via</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-10 medium-10 medium-centered small-11 small-centered large-centered medium-centered columns">
              <div class="row">
                <div class="small-6 columns">
                  <a  href='login2' class="button tiny social-button"><i class="fa fa-2x fa-facebook"></i></a>
                </div>
                <div class="small-6 columns">
                  <a  href='googlelogin' class="button tiny social-button"><i class="fa fa-2x fa-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </section>
























<!-- <section id='signup-form' >
<div class="form-container small-12 medium-4 large-4 small-centered medium-centered large-centered columns">
<div class="text-center large-9 small-9 medium-9 small-centered medium-centered large-centered columns">
<h2>Login</h2>
</div>
<form>

<div class="row">
<div class="large-9 small-12 medium-9 small-centered medium-centered large-centered columns">
<input id='username' class='username-field' type="text" placeholder="Username or Email" />
</div>
</div>
<div class="row">
<div class="large-9 small-12 medium-9 small-centered medium-centered large-centered columns">
<input id='password' class='password-field' type="password" placeholder="Password" />
</div>
</div>




    <!-- Here goes header -->
    {% include '/partials/footer.html' %}
    <!-- Header ends here  -->

</body>

  <!-- bundled javascript files -->
  {% include 'partials/scripts.html' %}
  <!-- bundled javascript files -->

</html>