<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

    <!-- combined css stylesheets for clarity -->
    {% include '/partials/stylesheets.html' %}
    <!-- combined css stylesheets for clarity -->
</head>

<body>
    <!-- Here goes header -->
    {% include '/partials/header.html' %}
    <!-- Header ends here  -->
      <div class="fixed profile-bar">
        <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul id="nav">
                    <li>
                        <a href="my-profile">Profile</a>
                    </li>
                    <li>
                        <a class='active-panel' href="history">History</a>
                    </li>
                </ul>
            </section>
        </nav>
      </div>
    <section id='userpanel'>
            <div class="text-center">
                    <span class='date'>9 June 2015</span>
                    <p></p>
                </div>

{% for q in questions %}
{%if not q.doctor_id %}
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <div class='question'>
              <img src="../static/img/faq-icon.png" class='question-icon'>
              <p>{{ q.question_text }}</p>
            </div>
            <div class="large-6 medium-6 small-6 columns">
            </div>
        </div>
        </div>
{%else%}
          <div class="row">
            <div class="large-6 medium-6 small-6 columns">
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <div class='answer'>
                 <img src="../static/img/faq-icon.png" class='question-icon'>
                    <p>{{ q.question_text }}<p>
              </div>
            </div>
          </div>

{% endif %}

{% endfor %}


</section>



    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->
</body>

    <script>
        $(document).foundation();
    </script>

    <!-- bundled javascript files -->
    {% include 'partials/scripts.html' %}
    <!-- bundled javascript files -->
</html>
