<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ioVeda</title>

<!-- For now link to every stylesheet, when deploying just put everything into one big file to reduce connection requests -->
<link rel="stylesheet" href="../static/css/foundation.min.css" />
<link rel="stylesheet" href="../static/foundation-icons/foundation-icons.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- our own css's -->
<link rel="stylesheet" href="../static/css/custom.css" />
<link rel="stylesheet" href="../static/css/header.css" />

<link rel="stylesheet" href="../static/css/subscribe.css" />
<link rel="stylesheet" href="../static/css/userpanel.css" />

     <!-- bundled javascript files -->
    {% include 'partials/scripts.html' %}
    <!-- bundled javascript files -->


</head>

    <!-- Here goes header -->
    {% include '/partials/header.html' %}
    <!-- Header ends here  -->  
  <div class="fixed profile-bar">
        <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul id="nav">
                    <li>
                        <a href="" id='profile-button'>Profile</a>
                    </li>
                    <li>
                        <a class='active-panel' href="" id='history-button'>History</a>
                    </li>

                    <li>
                        <a href="" id='doctor-button'>Your Doctor</a>
                    </li>


                    <li>
                        <a href="" id='account-button'>Account</a>
                    </li>

                    


                </ul>
            </section>
        </nav>
      </div>
    <section id='userpanel'>
    <div id='history-tab'>
      {% include 'partials/history.html' %}
    </div>
    <div id='profile-tab' hidden>
        {% include 'partials/emr.html' %}
    </div>
        <div id='doctor-tab' hidden>
        <p>This is the doctor Tab</p>
    </div>
    <div id='account-tab' hidden>
        <p>This is the account Tab</p>
    </div>

         
    </section>


    <!-- Here goes footer -->
    {% include '/partials/footer.html' %}
    <!-- Footer ends here  -->

    <script>
        $(document).foundation();
    </script>

   
</html>